{
    "presets": [
        "babel-preset-expo"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@constants": "./src/constants",
                    "@partials": "./src/partials",
                    "@navigation": "./src/navigation",
                    "@images": "./src/assets/images",
                    "@icons": "./src/assets/icons",
                    "@schemas": "./src/schemas",
                    "@components": "./src/components",
                    "@utils": "./src/utils",
                    "@screens": "./src/screens",
                    "@redux-store": "./src/redux-store"
                }
            }
        ]
    ]
}